{% extends 'base.html' %}
{% load static %}
{% block title %} Category | Quiz Application {% endblock title %}
{% block content %}
<div class="container py-5" style="max-width:30%">

    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <h2>Change Password</h2>
        </div>
        {% if form %}
            <div class="card-body">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.old_password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                        <small class="text-danger">{{ form.new_password1.errors }}</small>
                    {% endif %}
                    <div class="row">
                        <div class="text-muted small">
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.new_password1 }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                        <small class="text-danger">{{ form.new_password1.errors }}</small>
                    {% endif %}
                    <div class="input-group mb-3">
                        {{ form.new_password2 }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                        <small class="text-danger">{{ form.new_password2.errors }}</small>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 py-3">
                            <button type="submit" class="btn btn-primary btn-block">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}