{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %} 
            {{ title }} 
        {%else%} 
            Welcome | Quiz Application 
        {%endif%}
    </title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css?v=3.2.0">
</head>

<body class="login-page" style="min-height: 466px;">
    <!-- Login Div-->
    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h2>Change Password</h2>
            </div>
            {% if form %}
                <div class="card-body">
                    <div class="row">
                    </div>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            {{ form.new_password1 }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        {% if form.errors %}
                            <small class="text-danger">{{ form.new_password1.errors }}</small>
                        {% endif %}
                        <div class="input-group mb-3">
                            {{ form.new_password2 }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        {% if form.errors %}
                            <small class="text-danger">{{ form.new_password2.errors }}</small>
                        {% endif %}
                        <div class="row">
                            <div class="col-12 py-3">
                                <button type="submit" class="btn btn-primary btn-block">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="card-body">
                    <h6 class="text-center">Your password has already been reset.</h6>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
    <script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://adminlte.io/themes/v3/dist/js/adminlte.min.js?v=3.2.0"></script>
</body>

</html>