{% autoescape off %}
Hello,

We've received a request to reset the password for the Quiz Application account
You can reset your password by clicking the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using Quiz Application

Sincerely,
The Quiz Application Team
{% endautoescape %}