{% extends 'base.html' %}
{% load static %}
{% block title %} Category | Quiz Application {% endblock title %}
{% block content %}
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Add Question</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container">
        <div class="card card-primary">
            <div class="card-body">
                <p class="login-box-msg">
                    <small class="text-danger">{{ error_message }}</small>
                </p>
                <form action="{% url 'add_question' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputTitle">Question Category</label>
                        {{ form.category }}
                    </div>
                    <div class="form-group">
                        <label for="inputImage">Question</label><br/>
                        {{ form.question }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputImage">Option 1</label><br/>
                                {{ form.option_1 }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputImage">Option 2</label><br/>
                                {{ form.option_2 }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputImage">Option 3</label><br/>
                                {{ form.option_3 }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputImage">Option 4</label><br/>
                                {{ form.option_4 }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputImage">Time Limit</label><br/>
                                {{ form.time_limit }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputImage">Answer</label><br/>
                                {{ form.answer }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
